@use "@airframe/standard/src/scss/foundations/breakpoints";
@import "@airframe/standard/src/scss/foundations/colors";

.overview-summary-count {
  padding-top: 20px;

  @media (min-width: breakpoints.$airframe-breakpoint-sm) {
    padding: 4px;
  }

  &__value {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    color: $airframe-color-primary-normal;

    @media (min-width: breakpoints.$airframe-breakpoint-sm) {
      padding-right: 12px;
      padding-left: 4px;
      position: inherit;
      bottom: unset;

      @supports (-moz-appearance: none) {
        padding-right: 8px;
      }
    }

    @media (max-width: breakpoints.$airframe-breakpoint-sm - 1) {
      margin-top: 10px;
      display: block;
    }
  }

  &__extra-text {
    display: none;

    @media (min-width: breakpoints.$airframe-breakpoint-md) {
      display: inline-block;
    }
  }

  p {
    position: relative;
    height: 74px;

    @media (min-width: breakpoints.$airframe-breakpoint-sm) {
      position: inherit;
      height: 16px;
    }

    @media (max-width: breakpoints.$airframe-breakpoint-xm - 1) {
      font-size: 14px;
      line-height: 20px;
    }

    &:nth-of-type(1) {
      span {
        margin-top: 30px;

        @media (min-width: breakpoints.$airframe-breakpoint-sm) {
          margin-top: 0;
        }
      }
    }

    &:nth-of-type(2) {
      @media (max-width: breakpoints.$airframe-breakpoint-sm - 1) {
        width: 42%;
        text-align: center;
      }
    }

    @media (max-width: breakpoints.$airframe-breakpoint-sm - 1) {
      width: 29%;
      text-align: center;
    }
  }
}
