<div class="compare-portfolio-tab">
  <div class="row">
    <h3 *ngIf="isHoursAndCycle" class="col">Hours & Cycles Analysis</h3>
    <h3 *ngIf="isEmissions" class="col">Emissions Analysis</h3>
  </div>
  <span *ngIf="isHoursAndCycle" class="airframe-caption">Use this page to trend, benchmark and report utilization indicators across your portfolio.</span>
  <span *ngIf="isEmissions" class="airframe-caption">Use this page to trend, benchmark and report emissions indicators across your portfolio.</span>
  <hr class="title-break"/>

  <div class="row compare-options">
    <div *ngIf="isHoursAndCycle" class="option">
      <label>Utilization Metrics</label>
      <p-dropdown
        [options]="utilizationMetrics"
        styleClass="airframe-dropdown"
        dropdownIcon="fa fa-chevron-down"
        optionLabel="name"
        (onChange)="onUtilizationMetricChange($event.value)">
      </p-dropdown>
    </div>

    <div *ngIf="isEmissions" class="option">
      <label>Emissions Metrics</label>
      <p-dropdown
        [options]="emissionsMetrics"
        styleClass="airframe-dropdown"
        dropdownIcon="fa fa-chevron-down"
        optionLabel="name"
        (onChange)="onEmissionsMetricChange($event.value)">
      </p-dropdown>
    </div>

    <div class="option">
      <label>Start Month</label>
      <p-calendar
        styleClass="airframe-calendar"
        [showIcon]="true"
        icon="fa fa-calendar-days"
        view="month"
        dateFormat="MM yy"
        (onSelect)="onStartDateSelect()"
        (click)="disableHistoricalDates()"
        [(ngModel)]="selectedStartDate"
        [minDate]="minimumStartDate"
        [maxDate]="maximumStartDate"
      ></p-calendar>
    </div>

    <div class="option">
      <label>End Month</label>
      <p-calendar
        styleClass="airframe-calendar"
        placeholder="Select an end date"
        [showIcon]="true"
        icon="fa fa-calendar-days"
        view="month"
        dateFormat="MM yy"
        (onSelect)="onEndDateSelect()"
        (click)="disableHistoricalDates()"
        [(ngModel)]="selectedEndDate"
        [minDate]="minimumEndDate"
        [maxDate]="maximumEndDate">
      </p-calendar>
    </div>
  </div>

  <div class="row download-to-excel">
    <button
    class="airframe__icon-button"
    (click)="exportExcel()"
    pTooltip="Download to Excel"
    tooltipPosition="left"
    tooltipStyleClass="airframe-tooltip"
    [disabled]="!showTable">
    <em class="fa fa-download"></em>
  </button>
</div>

  <div class="row">
    <ra-portfolio-detail
      class="col-md-6 col-lg-6 col-no-gutter"
      [metricOptions]="metricOptions"
      [isEmissions]="isEmissions"
      [isHoursAndCycle]="isHoursAndCycle"
      [isComparisonPortfolio]="false"
      [yMax]="yMax"
      (yAxisScaleChange)="yAxisScaleChange($event)"
      (portfolioMetricTableChange)="onPortfolioMetricTableChange($event)"
      (portfolioDetailOptionsChange)="onPortfolioDetailOptionsChange($event)">
    </ra-portfolio-detail>

    <ra-portfolio-detail
      class="col-md-6 col-lg-6 col-no-gutter"
      [metricOptions]="metricOptions"
      [isEmissions]="isEmissions"
      [isHoursAndCycle]="isHoursAndCycle"
      [isComparisonPortfolio]="true"
      [yMax]="yMax"
      (yAxisScaleChange)="yAxisScaleChange($event)"
      (comparisonPortfolioMetricTableChange)="onComparisonPortfolioMetricTableChange($event)"
      (portfolioDetailOptionsChange)="onComparisonPortfolioDetailOptionsChange($event)">
    </ra-portfolio-detail>
  </div>
  <div *ngIf="showTable" class="overview__sub-title-bar">
    <h5>Details</h5>
  </div>
  <div class="row" id="detailsRow">
  <ra-compare-portfolio-table
   *ngIf="showTable"
   [metricDetailsTable]="metricDetailsTable"
   [tableHeaders]="tableHeaders"
  ></ra-compare-portfolio-table>
  </div>
</div>
