@use '@airframe/standard/src/scss/foundations/colors';
@use '@airframe/standard/src/scss/foundations/breakpoints';

.compare-portfolio-tab {
  background-color: colors.$airframe-color-neutral-white;
  padding: 50px 60px;
  padding-top: 26px;

  h3 {
    padding-bottom: 20px;
    padding-left: 0;
  }

  .compare-options {
    padding-top: 24px;
    padding-bottom: 12px;

    .option {
      margin-right: 40px;

      p-select {
        width: 264px;
      }

      p-datepicker {
        span {
          width: 264px;
        }
      }
    }

    label {
      display: block;
    }
  }

  .download-to-excel {
    justify-content: right;
    padding-bottom: 12px;

    em {
      padding: 0 8px;
    }
  }

  .col-lg-6:first-of-type {
    padding-right: 20px;
  }

  .col-lg-6:last-of-type {
    padding-left: 20px;
  }
}

.overview {
  padding: 50px 40px 0 40px;
  &__sub-title-bar {
    height: 48.46px;
    border-radius: 5px;
    background-color: colors.$airframe-color-neutral-grey-10-opacity-50;
    width: 100%;
    padding: 12px 16px;
    margin-top: 32px;

    &-status {
      margin-top: 12px;
    }
  }

  &__description {
    padding-top: 16px;
    padding-left: 16px;
  }
}
