@use "@airframe/standard/src/scss/foundations/font-family";
@use "@airframe/standard/src/scss/foundations/colors";
@use "@airframe/standard/src/scss/foundations/breakpoints";

.filters {
    display: none;

    @media (min-width: breakpoints.$airframe-breakpoint-md) {
        display: block;
    }

    input {
        margin: 0 0 0 0;
    }

    &__header {
        border-bottom: 1px solid colors.$airframe-color-neutral-grey-30;
        padding: 0 0 6px 3px;
    }

    &__title {
        padding: 0 0 10px 0;
        overflow: hidden;
        white-space: nowrap;

        h6 {
            font-weight: bold;
        }
    }

    &__container {
        display: contents;
    }

    &__reset-all {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        padding: 0;
        margin-top: -8px;
    }

    &__group {
        border-bottom: 1px solid colors.$airframe-color-neutral-grey-30;
        margin-left: 3px;

        &-routes {
            border-bottom: none;
        }
    }

    &__display-name {
        width: 220px;
        margin: 0;
    }

    &__reset-filters {
        padding: 10px 0 5px 0;
        text-align: end;
        height: 28px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    &__label {
        width: 188px;
        display: contents;
        cursor: pointer;
    }

    &__checkbox {
        padding: 6px 4px 3px 0;
        float: left;
        display: inline-table;
    }

    &__option {
        padding: 6px 6px 8px;
        display: inline-block;
        margin: auto;
        font-weight: 500;
        line-height: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: initial;
        color: colors.$airframe-color-neutral-grey-80;

        @media (min-width: breakpoints.$airframe-breakpoint-md) {
            width: 136px;
        }

        @media (min-width: breakpoints.$airframe-breakpoint-lg) {
            width: 156px;
        }

        @media (min-width: breakpoints.$airframe-breakpoint-xl) {
            width: 204px;
        }
    }

    &__info {
        text-align: left;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__value {
        text-align: end;
        padding: 6px;
        margin: auto;
        display: inline-table;

        // Safari collapse icon overlap bug fix
        @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) and (stroke-color: transparent) {
                @media (max-width: breakpoints.$airframe-breakpoint-xm) {
                    margin-right: 10px;
                }
            }
        }
    }

    &__show-more-container {
        padding-bottom: 8px;
        padding-top: 2px;
    }

    &__show-more {
        height: 16px;
    }

    &__icon {
        display: inline;
        padding: 2px 4px 4px 4px;
        color: colors.$airframe-color-status-info-extra-dark;

        &:hover {
            color: colors.$airframe-color-status-info-normal;
            cursor: pointer;
        }
    }

    &__helptip {
        &-text {
            top: -8%;

            @media (min-width: breakpoints.$airframe-breakpoint-md) {
                left: 130%;
            }

            &::after {
                left: -2%;
                right: auto;
                border-color: transparent colors.$airframe-color-status-info-normal transparent transparent;
            }

            .tooltip-body {
                margin-bottom: 3%;
            }
        }
    }
}

.filters-overlay {
    max-height: 565px;
    height: 100%;
    width: 585px;
    position: fixed;
    left: 0;
    top: 40px;
    z-index: 100;
    background-color: colors.$airframe-color-neutral-white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow-y: auto;

    @media (max-width: (breakpoints.$airframe-breakpoint-sm - 1)) {
        display: none;
    }

    @media (min-width: breakpoints.$airframe-breakpoint-md) {
        display: none;
    }

    h6 {
        font-weight: bold;
    }

    &__header {
        height: 60px;
    }

    &__display-name {
        font-weight: 500;
        float: left;
    }

    &__title {
        padding: 16px;
        display: inline-flex;

        h6 {
            margin-top: 3px;
        }

        em {
            color: colors.$airframe-color-primary-normal;
            padding: 8px 24px 8px 8px;
        }
    }

    &__reset {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        padding: 20px 16px;
    }

    &__body {
        height: 400px;
        overflow-y: auto;

        button {
            font-family: font-family.$font-family-montserrat;
        }
    }

    &__item {
        height: 56px;
        border-top: 1px solid colors.$airframe-color-neutral-grey-10;
        border-bottom: 1px solid colors.$airframe-color-neutral-grey-10;
        background-color: colors.$airframe-color-neutral-white;
        border-right: colors.$airframe-color-neutral-white;
        border-left: colors.$airframe-color-neutral-white;
        display: inline;
        cursor: pointer;

        &-filter-name {
            padding: 16px;
        }
    }

    &__filter-count {
        color: colors.$airframe-color-primary-normal;
        display: flex;
        justify-content: flex-end;

        span {
            padding: 0 20px;
        }

        em {
            margin-top: 4px;
        }
    }

    &__footer {
        height: 104px;
        padding: 32px 24px;
        border-top: 1px solid colors.$airframe-color-neutral-grey-10;

        button {
            width: 536px;
        }
    }
}

.filters-button {
    display: none;

    @media (min-width: breakpoints.$airframe-breakpoint-sm) {
        display: inline-block;
        position: absolute;
        left: 45px;
        top: 325px;
        z-index: 100;
        background-color: #ffffff;
    }

    @media (min-width: breakpoints.$airframe-breakpoint-md) {
        display: none;
    }

    button {
        height: 40px;
        min-width: 4rem;
        margin-top: 2px;

        em {
            top: 1px;
            position: relative;
        }
    }

    &-standard-user {
        top: 228px;
    }

    &-is-showcase {
        margin-top: 102px;
    }

    .home-icon {
        min-width: 1.25rem;
        margin-left: 1rem;

        em {
            padding-right: 0px;
        }
    }
}

.filter-overlay-container {
    display: none;

    @media (min-width: breakpoints.$airframe-breakpoint-sm) {
        display: flex;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(63, 68, 68, 0.6);
    }

    @media (min-width: breakpoints.$airframe-breakpoint-md) {
        display: none;
    }
}

::ng-deep .filter-explanation.p-tooltip-bottom .p-tooltip-text {
    margin-left: 35%;
}

::ng-deep .filter-explanation.p-tooltip-right .p-tooltip-arrow {
    left: -2%;
    margin-top: -5%;
}

::ng-deep .filter-explanation.p-tooltip-top .p-tooltip-arrow {
    left: 48%;
    margin-bottom: -2%;
}

::ng-deep .filter-explanation.p-tooltip-bottom .p-tooltip-arrow {
    left: 48%;
    margin-top: -2%;
}

#sliderRow .p-element {
    width: 93%;
    padding-top: 10px;
    padding-bottom: 12px;

    .min-max {
        padding: 0;
    }
}

.slider {
    &-input {
        width: 52px;
        border: 1px solid colors.$airframe-color-neutral-white;
        border-radius: 3px;
        font-family: font-family.$font-family-montserrat;
        font-weight: 400;
        letter-spacing: 0.003125rem;
    }

    &__min-max {
        padding: 0;

        &:nth-of-type(2) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__range-text {
        padding-right: 8px;
    }

    &__dash {
        padding: 0 8px 0 8px;
    }

    &-row-overlay {
        padding: 16px 38px;
    }
}

.right-aligned {
    text-align: right;
}
