<ng-progress [spinner]="false" [thick]="true" color="#00856C"></ng-progress>
<p-toast position="top-center" [baseZIndex]="999999">
  <ng-template let-message pTemplate="message">
    <ra-notice [message]="message"></ra-notice>
  </ng-template>
</p-toast>

<div class="globalHeader">
  <ev-theme>
    <ev-global-nav
      *ngIf="showGlobalNav"
      class="globalHeader"
      [logoutUrl]="logoutUrl"
      [token]="token"
      [headerTitle]="headerTitle"
      [apiHost]="apiHost"></ev-global-nav>
  </ev-theme>
</div>

<div [ngStyle]="{ 'minHeight.px': minimumContentHeight }">
  <router-outlet></router-outlet>
</div>

<ra-portfolios-footer></ra-portfolios-footer>
