@use "@airframe/standard/src/scss/foundations/breakpoints";
@use "@airframe/standard/src/scss/foundations/colors";

.table {
  &__icon-container {
    height: 35px;

    @media (min-width: breakpoints.$airframe-breakpoint-xm) {
      height: 60px;
    }
  }

  &__icon {
    @media (min-width: breakpoints.$airframe-breakpoint-xm) {
      margin-top: 20px;
    }
  }

  &__group-header {
    padding-left: 16px;
  }

  &__totals {
    border-left: 1px solid colors.$airframe-color-neutral-grey-30 !important;
  }

  &__totals-row th {
    background-color: colors.$airframe-color-neutral-white;
    font-size: 12px;
    height: 28px;
    padding-left: 16px !important;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal !important;
    text-align: right;
    border-bottom: 1px solid colors.$airframe-color-neutral-grey-30;
    border-top: 1px solid colors.$airframe-color-neutral-grey-30 !important;
    font-family: "Varela Round", sans-serif;
  }

  &__sort-icon {
    display: none;
  }

  &__total-border:last-child {
    border-left: 1px solid colors.$airframe-color-neutral-grey-30 !important;
  }

  &__cell-width {
    &-15 {
      width: 15%;

      &-end {
        width: 15%;
        justify-content: end;
      }
    }

    &-20 {
      width: 20%;
    }

    &-100 {
      width: 100%;
    }

    &-min-100 {
      min-width: 100px;
    }

    &-min-200 {
      min-width: 200px;
    }
  }

}

th {
  height: 53px;
  font-size: 12px;
  padding: 0 16px 0 0 !important;
  background-color: colors.$airframe-color-neutral-white;
  text-align: right;
}

td {
  height: 27px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 12px;
  text-align: right !important;
}

::ng-deep .p-datatable-scrollable-header-box {
  padding-right: 0 !important;
}
