@use "@airframe/standard/src/scss/foundations/colors";
@use "@airframe/standard/src/scss/foundations/breakpoints";

.summary-metrics {
	&__title {
		padding-bottom: 16px;

		@supports (-moz-appearance: none) {
			padding-bottom: 0;
		}

		h5 {
			display: none;
			@media (min-width: breakpoints.$airframe-breakpoint-xm) {
				display: inline-block;
			}
		}

		h6 {
			font-weight: 500;
			display: inline-block;

			@media (min-width: breakpoints.$airframe-breakpoint-xm) {
				display: none;
			}
		}

		@media (min-width: breakpoints.$airframe-breakpoint-xm) {
			padding-bottom: 24px;
		}
	}

	&__label {
		width: 100%;
		display: inline-block;

		@supports (-moz-appearance: none) {
			padding-top: 12px;
		}
	}

	&__name {
		float: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 20px;
		width: 60%;

		@media (min-width: breakpoints.$airframe-breakpoint-sm) {
			width: 98%;
		}

		@media (min-width: breakpoints.$airframe-breakpoint-xm) {
			width: 60%;
		}
	}

	&__value {
		float: left;
		white-space: nowrap;
		text-align: end;
		width: 40%;

		&-total {
			font-weight: bold;
		}

		@media (min-width: breakpoints.$airframe-breakpoint-sm) {
			text-align: left;
			width: 41%;
		}

		@media (min-width: breakpoints.$airframe-breakpoint-xm) {
			text-align: end;
			width: 40%;
		}
	}

}

progress {
	display: block;
	width: 100%;
	height: 24px;
	border-radius: 1px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;

	@supports (-moz-appearance: none) {
		height: 8px;
	}

	&::-webkit-progress-bar {
		height: 8px;
		background-color: colors.$airframe-color-background-low-contrast-on-light;
		border-radius: 1px;
	}

	&::-webkit-progress-value {
		display: inline-block;
		float: left;
		background: colors.$airframe-color-chart-primary-1;
		border-radius: 1px;
	}

	&::-moz-progress-bar {
		background: colors.$airframe-color-chart-primary-1;
		border-radius: 1px;
		height: 8px;
	}
}

.summary-metrics--grouped {
	&::-webkit-progress-value {
		background: colors.$airframe-color-chart-secondary-5 !important;
	}
	&::-moz-summary-metrics {
		background: colors.$airframe-color-chart-secondary-5 !important;
		border-radius: 1px;
		height: 8px;
	}
}
