<div class="portfolios-footer">

  <div class = "row between-xs portfolios-footer__link-container">
      <div class="col"><a class="airframe__link airframe__link--on-dark" href="https://www.cirium.com/disclaimer/" target="_blank" rel="noopener">Disclaimer</a></div>
      <div class="col"><a class="airframe__link airframe__link--on-dark" href="https://www.cirium.com/terms-and-conditions/" target="_blank" rel="noopener">Terms and conditions</a></div>
      <div class="col"><a class="airframe__link airframe__link--on-dark" href="https://risk.lexisnexis.com/group/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a></div>
      <div class="col"><a class="airframe__link airframe__link--on-dark" href="https://www.cirium.com/cookies/" target="_blank" rel="noopener">Cookies</a></div>
      <div class="col-xs-12 col-sm"><a class="airframe__link airframe__link--on-dark" href="https://www.cirium.com/fair-processing-notice/" target="_blank" rel="noopener">Fair processing notice</a></div>
</div>

  <div class="row center-xs portfolios-footer__copyright airframe-footnote">
      <a class="airframe__link airframe__link--on-dark" href="https://risk.lexisnexis.com/group/copyright" target="_blank" rel="noopener">Copyright</a>© 2022 LNRS Data Services
  </div>
</div>
