<section class="page-content">
  <header class="page-content__header">
    <div class="page-content__left-header">
      <h1 class="page-content__title">Market Activity</h1>
      <p class="page-content__description">View market events across the global fleet</p>
    </div>
    <div class="page-content__right-header">
      <ra-group-all-data-by-select class="page-content__group-all-data-by-select"> </ra-group-all-data-by-select>
    </div>
  </header>

  <section class="page-section page-content__section">
    <header class="page-section__header">
      <div class="page-section__left-header">
        <h2 class="page-section__title">Summary</h2>
      </div>
      <div class="page-section__right-header"></div>
    </header>
    <div class="page-section__controls">
      <div class="page-section__left-controls">
        <div class="page-section__metrics">
          <span class="page-section__metrics-label">Show data by</span>
          <div class="page-section__metrics-radiogroup">
            <label class="airframe__radiogroup">
              Number of Events
              <input type="radio" [formControl]="metricControl" [value]="MetricType.Number" name="summaryMetric" />
              <span></span>
            </label>
            <label class="airframe__radiogroup">
              % of Total Events
              <input type="radio" [formControl]="metricControl" [value]="MetricType.Percentage" name="summaryMetric" />
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="page-section__right-controls">
        <div class="page-section__actions">
          <button
            class="airframe__icon-button"
            (click)="showModalChart()"
            pTooltip="Full screen"
            tooltipPosition="left"
            tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-expand"></em>
          </button>
        </div>
      </div>
    </div>
    <div class="aircraft-header">
      <span class="aircraft-header__title">All Events{{ metricControl.value === MetricType.Percentage ? ' (%)' : '' }}</span>
    </div>

    <div class="fleet-insights__container">
      <div class="fleet-insights__charts-wrapper fleet-insights__accordion fleet-insights__charts" id="marketActivityCharts">
        <div class="fleet-insights__stacked-bar-chart" *ngIf="!showPieChart">
          <ra-market-activity-horizontal-chart
            [inputData$]="marketActivityTabStore.marketActivitySummaryData$"
            [metricType$]="metricType$"
            [loading]="(marketActivityTabStore.loading$ | async) || false">
          </ra-market-activity-horizontal-chart>
        </div>
        <div class="fleet-insights__pie-chart" *ngIf="showPieChart">
          <ra-fleet-insight-pie-chart
            [inputData$]="chartData$"
            [metricType$]="metricType$"
            [categoryKey]="'grouping'"
            [valueKey]="'numberOfEvents'"
            [percentageKey]="'percentageOfTotal'">
          </ra-fleet-insight-pie-chart>
        </div>
      </div>
      <ra-market-activity-accordion
        class="fleet-insights__charts-accordion"
        accordionContentId="marketActivityCharts"
        defaultHeight="420px">
      </ra-market-activity-accordion>
    </div>
  </section>

  <section class="page-section page-content__section">
    <header class="page-section__header">
      <div class="page-section__left-header">
        <h2 class="page-section__title">Trend</h2>
      </div>
      <div class="page-section__right-header"></div>
    </header>
    <div class="page-section__controls">
      <div class="page-section__left-controls">
        <div class="page-section__metrics">
          <span class="page-section__metrics-label">Show data by</span>
          <div class="page-section__metrics-radiogroup">
            <label class="airframe__radiogroup">
              Number of Events
              <input type="radio" [formControl]="trendMetricControl" [value]="MetricType.Number" name="trendMetric" />
              <span></span>
            </label>
            <label class="airframe__radiogroup">
              % of Total Events
              <input type="radio" [formControl]="trendMetricControl" [value]="MetricType.Percentage" name="trendMetric" />
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="page-section__right-controls">
        <div class="page-section__actions">
          <button
            class="airframe__icon-button"
            (click)="showModalTrendChart()"
            pTooltip="Full screen"
            tooltipPosition="left"
            tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-expand"></em>
          </button>
        </div>
      </div>
    </div>
    <div class="aircraft-header">
      <span class="aircraft-header__title"> All Events{{ trendMetricControl.value === MetricType.Percentage ? ' (%)' : '' }} </span>
    </div>

    <div class="fleet-insights__container">
      <div class="fleet-insights__charts-wrapper fleet-insights__charts" id="trendCharts">
        <div class="fleet-insights__line-chart">
          <ra-market-activity-line-chart
            [inputData$]="marketActivityTabStore.marketActivityTrendsData$"
            [metricType$]="trendMetricType$"
            [loading]="(marketActivityTabStore.trendsLoading$ | async) || false">
          </ra-market-activity-line-chart>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-content__section">
    <header class="page-section__header">
      <h2 class="page-section__title">Details</h2>
    </header>

    <div class="page-section__controls">
      <div class="page-section__left-controls">
        <div class="page-section__navigation-tabs-control airframe__navigation-tabs airframe__navigation-tabs--fleet-insights">
          <a *ngFor="let tab of tabs; let i = index" (click)="onTabChange(i)" [class.current-tab]="activeIndex === i">
            {{ tab.title }}
          </a>
        </div>
      </div>
      <div class="page-section__right-controls">
        <div class="page-section__actions">
          <button
            class="airframe__icon-button"
            (click)="onDownloadToExcel()"
            pTooltip="Download to Excel"
            tooltipPosition="left"
            tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-download"></em>
          </button>
          <button
            (click)="showModal()"
            class="airframe__icon-button"
            pTooltip="Full screen"
            tooltipPosition="left"
            tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-expand"></em>
          </button>
        </div>
      </div>
    </div>

    <div class="page-section__data-visualization" [hidden]="activeIndex !== 0">
      <ra-market-activity-summary-table></ra-market-activity-summary-table>
    </div>
    <div class="page-section__data-visualization" [hidden]="activeIndex !== 1">
      <ra-fleet-tab-summary-table
        [tableData]="tableData"
        [columnNames]="columnNames"
        [defaultSortField]="defaultSortField"
        [defaultSortOrder]="defaultSortOrder"
        [summaryTableLoading]="trendsTableLoading"
        [numberOfAircraftSelected]="numberOfAircraftSelected"
        [footerTotals]="footerTotals"
        [onSort]="onSort.bind(this)"></ra-fleet-tab-summary-table>
    </div>
  </section>
</section>
<p-dialog
  *ngIf="displayModalChart"
  class="airframe-modal"
  styleClass="dialog-fullscreen custom-dialog-content"
  [ngClass]="displayModalChart ? 'dialog-open-modal' : ''"
  [(visible)]="displayModalChart"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="true"
  [closable]="true"
  [blockScroll]="true"
  [dismissableMask]="true"
  (onShow)="maximizeModalChart(chartModal)"
  (onHide)="closeModal()"
  #chartModal>
  <div class="aircraft-header">
    <span class="aircraft-header__title">All Events{{ metricControl.value === MetricType.Percentage ? ' (%)' : '' }}</span>
  </div>
  <ra-market-activity-horizontal-chart
    *ngIf="!showPieChart"
    [inputData$]="marketActivityTabStore.marketActivitySummaryData$"
    [metricType$]="metricType$"
    [loading]="(marketActivityTabStore.loading$ | async) || false"
    [isModal]="true">
  </ra-market-activity-horizontal-chart>
  <ra-fleet-insight-pie-chart
    *ngIf="showPieChart"
    [inputData$]="chartData$"
    [metricType$]="metricType$"
    [categoryKey]="'grouping'"
    [valueKey]="'numberOfEvents'"
    [percentageKey]="'percentageOfTotal'"
    [isModal]="true">
  </ra-fleet-insight-pie-chart>
</p-dialog>

<p-dialog
  *ngIf="displayModalTrendChart"
  class="airframe-modal"
  styleClass="dialog-fullscreen custom-dialog-content"
  [ngClass]="displayModalTrendChart ? 'dialog-open-modal' : ''"
  [(visible)]="displayModalTrendChart"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="true"
  [closable]="true"
  [blockScroll]="true"
  [dismissableMask]="true"
  (onShow)="maximizeModalChart(trendChartModal)"
  (onHide)="closeModal()"
  #trendChartModal>
  <div class="aircraft-header">
    <span class="aircraft-header__title">All Events</span>
  </div>
  <ra-market-activity-line-chart
    [inputData$]="marketActivityTabStore.marketActivityTrendsData$"
    [metricType$]="trendMetricType$"
    [loading]="(marketActivityTabStore.trendsLoading$ | async) || false"
    [isModal]="true">
  </ra-market-activity-line-chart>
</p-dialog>

<p-dialog
  *ngIf="displayModal"
  class="airframe-modal p-dialog-mask open-modal"
  header="{{ modalTitle }}"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="displayModal"
  (onShow)="maximizeModal(tableModal)"
  (onHide)="closeModal()"
  #tableModal>
  <div class="page-section__data-visualization" [hidden]="activeIndex !== 0">
    <ra-market-activity-summary-table></ra-market-activity-summary-table>
  </div>
  <div class="page-section__data-visualization" [hidden]="activeIndex !== 1">
    <ra-fleet-tab-summary-table
      [tableData]="tableData"
      [columnNames]="columnNames"
      [defaultSortField]="defaultSortField"
      [defaultSortOrder]="defaultSortOrder"
      [summaryTableLoading]="trendsTableLoading"
      [numberOfAircraftSelected]="numberOfAircraftSelected"
      [footerTotals]="footerTotals"
      [onSort]="onSort.bind(this)"></ra-fleet-tab-summary-table>
  </div>
</p-dialog>
