<section class="page-content">
  <header class="page-content__header">
    <h1 class="page-content__title">Market Activity</h1>
    <p class="page-content__description">View the global distribution of the global fleet</p>
  </header>

  <section class="page-section page-content__section">
    <header class="page-section__header">
      <div class="page-section__left-header">
        <h2 class="page-section__title">Summary</h2>
      </div>
      <div class="page-section__right-header">
        <div class="page-section__select">
          <label>Group by</label>
          <p-select styleClass="airframe-dropdown" [options]="['Status']"> </p-select>
        </div>
      </div>
    </header>
    <div class="page-section__controls">
      <div class="page-section__left-controls">
        <div class="page-section__metrics">
          <span class="page-section__metrics-label">Show data by</span>
          <div class="page-section__metrics-radiogroup">
            <label class="airframe__radiogroup">
              Number of Aircraft
              <input type="radio" name="metric" value="number" [checked]="true" />
              <span></span>
            </label>
            <label class="airframe__radiogroup">
              % of Total Aircraft
              <input type="radio" name="metric" value="percentage" />
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="page-section__right-controls">
        <div class="page-section__actions">
          <button class="airframe__icon-button" pTooltip="Download to Excel" tooltipPosition="left" tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-download"></em>
          </button>
          <button class="airframe__icon-button" pTooltip="Full screen" tooltipPosition="left" tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-expand"></em>
          </button>
        </div>
      </div>
    </div>
    <div class="page-section__data-visualization">Chart will go here</div>
  </section>

  <section class="page-section page-content__section">
    <header class="page-section__header">
      <div class="page-section__left-header">
        <h2 class="page-section__title">Details</h2>
        <p class="page-section__description">This section shows the information for individual aircraft</p>
      </div>
    </header>

    <div class="page-section__controls">
      <div class="page-section__left-controls">
        <h3 class="page-section__data-visualization-title">Table Results Title (105)</h3>
      </div>
      <div class="page-section__right-controls">
        <div class="page-section__actions">
          <button class="airframe__icon-button" pTooltip="Download to Excel" tooltipPosition="left" tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-download"></em>
          </button>
          <button class="airframe__icon-button" pTooltip="Full screen" tooltipPosition="left" tooltipStyleClass="airframe-tooltip">
            <em class="fa fa-expand"></em>
          </button>
        </div>
      </div>
    </div>
    <div class="page-section__data-visualization">Table will go here</div>
  </section>
</section>
