.multiselect-group__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.sidebar-filter-panel__field:first-of-type {
  margin-top: 12px;
}

.multiselect-group__show-all {
  margin-top: 12px;
}
