@use '@airframe/standard/src/scss/foundations/colors';

.back-link {
  &::before {
    color: colors.$airframe-color-primary-normal;
  }
  a {
    margin-left: 19px;
    color: colors.$airframe-color-primary-normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}
