@use '@airframe/standard/src/scss/foundations/colors';

.mock {
  width: 100%;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$airframe-color-neutral-grey-10-opacity-50;
}

.fleet-table {
  width: 100%;
}

.no-data-block {
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$airframe-color-neutral-grey-10-opacity-50;
}

:host ::ng-deep .airframe-modal .p-dialog {
  width: inherit;
  height: inherit;
  max-height: 100%;
}

.page-section__title {
  margin-bottom: 20px;
  display: block;
}

:host ::ng-deep .dialog-fullscreen {
  .p-dialog {
    height: 90vh;
    overflow: hidden;
    background: white;
  }

  .p-dialog-header {
    padding-top: 2rem;
    position: sticky;
    z-index: 2;
    background: white;
    .p-dialog-header-icons {
      top: 2rem;
      right: 1rem;
      position: absolute;
    }
  }

  .p-dialog-content {
    padding-top: 2rem;
    overflow-y: auto;
    height: calc(90vh - 6rem);
    background: white;
  }
}
