<div class="container">
  <div class="content">
    <img src="assets/cirium-logo-on-light.png" alt="Cirium logo" />
    <h4>
      We can’t seem to find the page you’re looking for.
    </h4>
    <label>
      Error code: 404
    </label>
    <div class="buttons">
      <a href="mailto:{{supportEmailAddress}}">
        <button class="airframe__button airframe__button--secondary">Contact support</button>
      </a>
      <a href="/">
        <button class="airframe__button airframe__button--primary">Return to Fleet Insights</button>
      </a>
    </div>
  </div>
</div>
