<p-table
  [value]="(this.distributionTabStore.summaryList$ | async) || []"
  [lazy]="false"
  [paginator]="true"
  [rows]="defaultRowCount"
  [totalRecords]="(this.distributionTabStore.totalSummaryRecords$ | async) || 0"
  [loading]="(this.distributionTabStore.summaryLoading$ | async) || false"
  [rowsPerPageOptions]="[50, 100, 200]"
  class="airframe-table airframe-table--fleet-insight"
  sortMode="single"
  [scrollable]="true"
  scrollDirection="both"
  [scrollHeight]="'700px'"
  [sortField]="defaultSortField"
  [sortOrder]="defaultSortOrder">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="grouping">
        <div class="airframe-table__sortable-header"><span>Grouping</span> <p-sortIcon field="grouping"></p-sortIcon></div>
      </th>
      <th pSortableColumn="numberOfAircraft" class="text-right">
        <div class="airframe-table__sortable-header">
          <span>Number of Aircraft</span> <p-sortIcon field="numberOfAircraft"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="percentageOfTotal" class="text-right">
        <div class="airframe-table__sortable-header"><span>% of Total</span> <p-sortIcon field="percentageOfTotal"></p-sortIcon></div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{ rowData.grouping }}</td>
      <td class="text-right">{{ rowData.numberOfAircraft }}</td>
      <td class="text-right">{{ rowData.percentageOfTotal | number : '1.1-1' }}%</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td>Total</td>
      <td class="text-right">{{ distributionTabStore.totalNumberOfAircraft$ | async }}</td>
      <td class="text-right">100%</td>
    </tr>
  </ng-template>
</p-table>
