@use '@airframe/standard/src/scss/foundations/font-family' as airframe-font;
@use '@airframe/standard/src/scss/foundations/colors' as airframe-colors;
$font-family-varela-round: 'Varela Round', sans-serif;

.airframe-table {
  font-variant-numeric: lining-nums tabular-nums;

  th {
    font-weight: bold !important;
    border-bottom: 1px solid airframe-colors.$airframe-color-neutral-grey-30 !important;
    border-top: 4px solid airframe-colors.$airframe-color-primary-normal !important;
    background-color: airframe-colors.$airframe-color-neutral-white !important;
    color: airframe-colors.$airframe-color-neutral-black !important;
    font-family: airframe-font.$font-family-montserrat;
  }

  .header-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    hyphens: auto;
    white-space: normal !important;
  }

  td {
    text-overflow: ellipsis !important;
    font-family: $font-family-varela-round;
  }

  .left-text {
    text-align: left !important;
    justify-content: flex-start !important;
  }

  .right-text {
    text-align: right !important;
    justify-content: flex-end !important;
  }

  .column-overflow div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-overflow:hover div {
    text-overflow: clip;
    overflow: visible;
    white-space: pre-wrap;
  }

  .column-header {
    display: flex;
    align-items: center;
  }

  tr:nth-child(odd) {
    background-color: rgba($color: airframe-colors.$airframe-color-neutral-grey-10, $alpha: 0.5) !important;
  }

  .pi-sort-alt::before {
    content: none;
  }

  .pi-sort-amount-down::before {
    color: airframe-colors.$airframe-color-primary-normal;
    font-size: 12px;
    content: '\f078';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-left: 3px;
    padding-right: 3px;
  }

  .pi-sort-amount-down-hover::before {
    color: airframe-colors.$airframe-color-primary-normal;
    font-size: 12px;
    content: '\f078';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-left: 0;
    padding-right: 0;
  }

  .pi-sort-amount-up-alt::before {
    color: airframe-colors.$airframe-color-primary-normal;
    font-size: 12px;
    content: '\f077';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-left: 3px;
    padding-right: 3px;
  }

  .pi-sort-amount-up-alt-hover::before {
    color: airframe-colors.$airframe-color-primary-normal;
    font-size: 12px;
    content: '\f077';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-left: 0;
    padding-right: 2px;
  }

  .pi-arrow-up::before {
    content: '\f062';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon {
    margin: 0 !important;
  }

  .p-datatable .p-sortable-column.p-highlight {
    background-color: airframe-colors.$airframe-color-primary-extra-light-opacity-10 !important;
    color: airframe-colors.$airframe-color-primary-dark !important;
  }

  .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: airframe-colors.$airframe-color-neutral-grey-10 !important;
    border: 1px solid airframe-colors.$airframe-color-primary-light;
  }
}
