@use '@airframe/standard/src/scss/foundations/font-family' as airframe-font;
@use '@airframe/standard/src/scss/foundations/colors' as airframe-colors;

.airframe-autocomplete {
  width: 255px;

  &:focus-within {
    border: 2px solid airframe-colors.$airframe-color-foreground-focus;
    border-radius: 2px;
    background-color: airframe-colors.$airframe-color-neutral-white;
    transition: none;
  }

  &__highlighted-text {
    font-weight: bold;
  }

  .p-autocomplete {
    width: 100%;
  }

  .p-component {
    color: airframe-colors.$airframe-color-neutral-grey-80;
    font-family: airframe-font.$font-family-montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05px;
    line-height: 16px;
  }

  .p-autocomplete-panel {
    max-height: 206px;
    width: 100%;
    border-radius: 2px;
    background-color: airframe-colors.$airframe-color-neutral-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid airframe-colors.$airframe-color-primary-normal;
  }

  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
    color: airframe-colors.$airframe-color-neutral-grey-80;
    background: airframe-colors.$airframe-color-primary-extra-extra-light;
    height: 40px;
  }

  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight,
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-focus {
    height: 40px;
    background: airframe-colors.$airframe-color-primary-normal;
    color: airframe-colors.$airframe-color-neutral-white;
  }

  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    margin: 0;
    height: 40px;
    padding-top: 12px;
    border: 0 none;
    color: airframe-colors.$airframe-color-neutral-grey-80;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
  }

  .p-inputtext:enabled:hover ~ .p-button {
    background: airframe-colors.$airframe-color-neutral-grey-10;
    border-color: airframe-colors.$airframe-color-primary-light;
    color: airframe-colors.$airframe-color-primary-light;
    border-left: transparent;
  }

  .p-inputtext:enabled:focus ~ .p-button {
    box-shadow: none;
    border-color: transparent;
    background-color: airframe-colors.$airframe-color-neutral-white;
    transition: none;
  }

  .p-inputtext {
    border-color: airframe-colors.$airframe-color-neutral-grey-50;
    border-right: transparent;

    &:enabled:hover {
      background: airframe-colors.$airframe-color-neutral-grey-10;
      border-color: airframe-colors.$airframe-color-primary-light;
      border-right: transparent;
    }

    &:enabled:focus,
    &:enabled:hover:focus {
      box-shadow: none;
      border: none;
      background-color: airframe-colors.$airframe-color-neutral-white;
      transition: none;
    }
  }

  .p-button {
    color: airframe-colors.$airframe-color-primary-normal;
    background: airframe-colors.$airframe-color-neutral-white;
    width: 40px;
    height: 40px;
    border-color: airframe-colors.$airframe-color-neutral-grey-50;
    border-left: transparent;

    &:enabled:hover {
      background: airframe-colors.$airframe-color-neutral-grey-10;
      border-color: airframe-colors.$airframe-color-primary-light;
      color: airframe-colors.$airframe-color-primary-light;
    }

    &:enabled:focus,
    &:enabled:hover:focus {
      box-shadow: none;
      border-color: transparent;
      background-color: airframe-colors.$airframe-color-neutral-white;
      transition: none;
    }
  }

  .p-button:after {
    content: '';
    position: absolute;
    left: 0;
    height: 30px;
    width: 50%;
    border-left: 1px solid airframe-colors.$airframe-color-neutral-grey-30;
  }

  .p-button-icon {
    font-size: 16px;
  }
  .p-button.p-button-icon-only {
    width: 40px;
  }
}
