.airframe__navigation-tabs.airframe__navigation-tabs--fleet-insights a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
}
