@use '@airframe/standard/src/scss/foundations/colors';
@use '@airframe/standard/src/scss/foundations/font-family';
@use '@airframe/standard/src/scss/components/basic-elements/textfield/textfield';
@use '@airframe/standard/src/scss/foundations/breakpoints';

.ra-multiselect-with-chips {
  .p-multiselect {
    font-family: font-family.$font-family-montserrat;
    border: 1px solid colors.$airframe-color-border-hover-on-dark;
    border-radius: 2px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05px;
    height: auto !important;

    &:enabled:focus {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    &:hover {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    .p-inputtext {
      padding: 9px 10.5px 12px 10.5px;
      @include textfield.airframe__textfield;
    }

    .p-component {
      font-family: font-family.$font-family-montserrat;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.05px;
    }

    .p-placeholder {
      color: colors.$airframe-color-neutral-grey-60;
      font-weight: 400;
    }

    .p-multiselect-trigger {
      color: colors.$airframe-color-primary-normal;
      height: 26px;
      margin-top: 6.5px;
    }

    .p-multiselect-overlay {
      border-bottom: 4px solid colors.$airframe-color-primary-normal;

      .p-multiselect-header .p-multiselect-close {
        color: colors.$airframe-color-primary-normal;
      }
    }

    p-chip.p-chip.p-multiselect-chip {
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;

      font-size: 12px;
      background-color: colors.$airframe-color-primary-normal;
      border-radius: 5px;
      position: relative;
      top: 1px;
      color: colors.$airframe-color-neutral-white;
      margin: 0.1rem;
      padding: 0.05rem 0.4rem;

      & .p-iconwrapper {
        color: colors.$airframe-color-neutral-white;
        height: 13px;
        width: 13px;
      }
    }
  }

  p-multiselect.p-multiselect .p-multiselect-clear-icon {
    color: colors.$airframe-color-primary-normal;
  }

  .p-multiselect-list-container .p-multiselect-list .p-multiselect-option.p-multiselect-option-selected {
    background-color: colors.$airframe-color-neutral-white;
  }

  .p-multiselect-list-container .p-multiselect-list .p-multiselect-option:not(.p-highlight):not(.p-disabled):hover {
    background-color: colors.$airframe-color-primary-extra-extra-light;
  }

  .p-multiselect-list-container .p-multiselect-list .p-multiselect-option.p-multiselect-option-selected span {
    color: colors.$airframe-color-primary-normal;
  }

  .p-chip {
    margin-top: 20px;
    display: block;
  }

  .pi-times-circle {
    background-color: white;
    border-radius: 50%;
  }

  .p-multiselect-label {
    flex-wrap: wrap;
    white-space: normal !important;
    text-overflow: inherit !important;
  }

  .p-checkbox.p-highlight .p-checkbox-box {
    box-shadow: none;
    border-color: colors.$airframe-color-primary-normal !important;
    background: colors.$airframe-color-primary-normal;

    &:enabled:focus {
      box-shadow: none;
      background: colors.$airframe-color-primary-normal !important;
      border: 2px solid colors.$airframe-color-primary-normal !important;
    }

    &:hover {
      box-shadow: none;
      background: colors.$airframe-color-primary-normal !important;
      border: 2px solid colors.$airframe-color-primary-normal !important;
    }
  }

  .p-inputtext {
    &:enabled:focus {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    &:hover {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    padding-right: 1.5rem;
  }

  .p-multiselect-list {
    &:enabled:focus {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }
  }

  .p-multiselect-option {
    &:focus-within {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    &:enabled:focus {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    &:focus {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }

    &:enabled:hover {
      box-shadow: none;
      border: 1px solid colors.$airframe-color-primary-normal !important;
    }
  }

  .p-multiselect-overlay .p-multiselect-list .p-multiselect-option:focus {
    box-shadow: none !important;
    border: 1px solid colors.$airframe-color-primary-normal !important;
  }

  .p-multiselect-overlay {
    border-bottom: 5px solid colors.$airframe-color-primary-normal !important;
  }

  .p-multiselect-overlay .p-multiselect-header .p-multiselect-close {
    color: colors.$airframe-color-primary-normal;
  }

  .p-multiselect-label .p-multiselect-chip-item:nth-child(n + 4) {
    display: none;
  }
}
