@use '@airframe/standard/src/scss/foundations/font-family';
@use '@airframe/standard/src/scss/foundations/colors';
@use '@airframe/standard/src/scss/components/basic-elements/textfield/textfield';

.p-treeselect {
  font-family: font-family.$font-family-montserrat;
  border: 1px solid colors.$airframe-color-border-on-light;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05px;

  &:not(.p-disabled) {
    &:hover {
      background-color: colors.$airframe-color-neutral-grey-10;
      border: 1px solid colors.$airframe-color-primary-light;
    }

    &.p-focus {
      box-shadow: none;
      border: 2px solid colors.$airframe-color-foreground-focus;
    }
  }

  .p-inputtext {
    padding: 9px 10.5px 12px 10.5px;
    @include textfield.airframe__textfield;

    &:enabled:focus {
      box-shadow: none;
    }
  }

  .p-component {
    font-family: font-family.$font-family-montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05px;
  }

  .p-placeholder {
    color: colors.$airframe-color-neutral-grey-60;
    font-weight: 300;
  }

  .p-treeselect-trigger {
    color: colors.$airframe-color-primary-normal;
    border-left: 1px solid colors.$airframe-color-neutral-grey-30;
    height: 26px;
    margin-top: 6.5px;
  }

  .p-treeselect-panel {
    border-bottom: 4px solid colors.$airframe-color-primary-normal;

    .p-treeselect-header .p-treeselect-close {
      color: colors.$airframe-color-primary-normal;
    }
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    &:hover {
      background-color: colors.$airframe-color-primary-extra-extra-light;
    }

    &:focus {
      box-shadow: none;
    }

    .p-tree-toggler {
      color: colors.$airframe-color-primary-normal;

      &:focus {
        box-shadow: none;
      }

      &:enabled:hover {
        background-color: colors.$airframe-color-primary-extra-extra-light;
      }
    }

    &.p-highlight {
      background-color: colors.$airframe-color-neutral-white;
    }

    &.p-treenode-selectable:not(.p-highlight):hover {
      &:hover {
        background-color: colors.$airframe-color-primary-extra-extra-light;
      }
    }
  }

  &.p-treeselect-chip .p-treeselect-token {
    background-color: colors.$airframe-color-primary-normal;
    color: colors.$airframe-color-neutral-white;
    border-radius: 5px;
    position: relative;
    top: 1px;
  }
}

p-treeselect.p-treeselect-clearable .p-treeselect-clear-icon {
  color: colors.$airframe-color-primary-normal;
  padding-right: 5px;
}
