.page-content {
  padding: 32px 40px;
  padding-bottom: 0;

  &__header{
    padding-bottom: 20px; ;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }
  &__description {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }
}
