@use '@airframe/standard/src/scss/foundations/font-family';
@use '@airframe/standard/src/scss/foundations/colors';

.helptip .p-tooltip-text {
  background-color: colors.$airframe-color-neutral-grey-80 !important;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05px;
  line-height: 18px;
  padding: 16px;
  width: 325px;
  box-shadow: none !important;
  font-family: font-family.$font-family-montserrat;
}

.helptip.p-tooltip-right .p-tooltip-text {
  margin-bottom: 6px;
  background-color: colors.$airframe-color-status-info-normal !important;
}

.helptip.p-tooltip-right .p-tooltip-arrow {
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid colors.$airframe-color-status-info-normal !important;
  margin-left: -15px;
  margin-top: -5px;
}
