@use '@airframe/standard/src/scss/foundations/breakpoints';
@use 'src/app/styles/charts';
@use '@airframe/standard/src/scss/foundations/colors';

.chart-container {
  position: relative;
  width: 100%;
  padding-bottom: 18px;

  @media (min-width: breakpoints.$airframe-breakpoint-xm) {
    top: 39px;
  }
}

.chart-loading-overlay {
  position: relative;
}

.chart-loading-overlay .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.chart-loading-overlay .loading-overlay .spinner {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 2.5s linear infinite;
  transform: translateX(-50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.chart-loading-overlay {
  height: 100%;
}

.no-data-block {
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$airframe-color-neutral-grey-10-opacity-50;
  text-align: center;
  padding: 20px;
}

.airframe-modal {
  .market-activity-line-chart {
    .chart-wrapper {
      height: 600px;
      padding: 30px;
    }
  }
}
