@use '@airframe/standard/src/scss/foundations/font-family';
@use '@airframe/standard/src/scss/foundations/colors';

.dialog-footer {
  display: flex;
  justify-content: center;
  padding: 0;
}

button.cancel-button {
  margin-right: 80px;
}

::ng-deep .p-dialog {
  .p-dialog-header {
    justify-content: center;
    padding-top: 32px;

    .p-dialog-title {
      // same as h2 from airframe typography.scss
      font-size: 2.5rem !important;
      font-weight: 300 !important;
      letter-spacing: 0.008125rem;
      line-height: 3rem;
      margin: 0;
    }

    button.p-dialog-header-icon {
      right: 16px;
      top: 26px;
    }
  }

  p {
    font-weight: 400;
    line-height: 24px;
    color: colors.$airframe-color-neutral-black;
    padding-bottom: 24px;
    text-align: center;
  }
}

label span.required::after {
  content: '*';
  text-transform: uppercase;
  color: colors.$airframe-color-status-danger-extra-dark;
}

form {
  display: flex;
  flex-direction: column;

  .duplicate-name-error {
    color: colors.$airframe-color-status-danger-extra-dark;
    font-weight: normal;
    font-size: 15px;
    padding-left: 0px;
  }
  .fa-solid.fa-triangle-exclamation {
    font-size: 18px;
    margin-top: 12px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .description {
      min-height: 100px;
    }

    .email-alert-status {
      display: flex;
      align-items: center;
    }
  }

  .toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .airframe__toggle {
      margin-right: 12px;
      display: flex;
      align-items: center;
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    legend {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }
  .email-alert-status-value,
  .email-frequency-value,
  .description-character-count,
  .email-info {
    font-weight: normal;
  }
  .email-alert-status-value {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 21px;
  }
  .description-character-count {
    align-self: flex-end;
  }
}
