@use '@airframe/standard/src/scss/foundations/colors';
@use '@airframe/standard/src/scss/foundations/font-family';

.airframe-tooltip .p-tooltip-text {
    background-color: colors.$airframe-color-neutral-grey-80 !important;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.05px;
    line-height: 14px;
    padding: 8px;
    width: auto;
    box-shadow: none !important;
    font-family: font-family.$font-family-montserrat;
}

.airframe-tooltip .p-tooltip-arrow {
    border: none;
}
