@use '@airframe/standard/src/scss/foundations/colors';

.airframe-modal {
    .p-dialog {
        border-bottom: 5px solid colors.$airframe-color-primary-normal;
        width: 100%;
        max-height: 100% !important;
        z-index: 100;
        height: 100%;

        .p-dialog-header .p-dialog-title {
            font-size: 24px;
        }

        .p-dialog-header .p-dialog-header-icon {
            height: 40px;
            width: 40px;
            border-radius: 3px;
        }

        .p-dialog-header .p-dialog-header-icon:enabled:focus {
            border: 2px solid colors.$airframe-color-foreground-focus;
            background-color: colors.$airframe-color-neutral-white;
            box-shadow: none;
        }

        .p-dialog-header .p-dialog-header-icon:enabled:hover {
            height: 40px;
            width: 40px;
            border-radius: 3px;
            background-color: colors.$airframe-color-neutral-grey-20;
        }
    }

    .pi-times::before {
        font-size: 18px;
        color: colors.$airframe-color-neutral-grey-45;
        content: "\f00d";
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 900;
    }
}

.p-dialog-mask.open-modal {
    background-color: colors.$airframe-color-neutral-white;
    z-index: 100000;
}

.table-dialog {
    .p-dialog-content {
        overflow-y: visible !important;
    }
}
