@use '@airframe/standard/src/scss/foundations/colors';
@use '@airframe/standard/src/scss/foundations/font-family';

.airframe-dropdown {
    height: 40px;
    width: 100%;
    border: 1px solid colors.$airframe-color-border-on-light !important;
    border-radius: 2px !important;

    &:not(.p-disabled):hover {
        border: 1px solid colors.$airframe-color-primary-light;
        border-radius: 2px;
        background-color: colors.$airframe-color-neutral-grey-10;
        border-color: colors.$airframe-color-primary-light;
    }

    &:not(.p-disabled).p-focus {
        box-shadow: none;
        border: 2px solid colors.$airframe-color-foreground-focus;
    }

    .p-select-dropdown {
        color: colors.$airframe-color-primary-normal;
        border-left: 1px solid colors.$airframe-color-neutral-grey-30;
        height: 26px;
        margin-top: 6.5px;
    }

    .p-inputtext {
        padding: 9px 10.5px 12px 10.5px;
    }

    .p-dropdown-label {
        color: colors.$airframe-color-neutral-grey-80;
        font-family: font-family.$font-family-montserrat;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.05px;

        &.p-placeholder {
            color: colors.$airframe-color-neutral-grey-60;
            font-weight: 300;
        }
    }

    .p-select-list-container{
        max-height: 216px !important;
    }

    .p-select-overlay {
        border-bottom: 4px solid colors.$airframe-color-primary-normal;

        .p-select-list {
            padding: 0;
            font-family: font-family.$font-family-montserrat;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.05px;

            .p-select-option {
                height: 40px;
                padding-top: 10px;
            }

            .p-select-option.p-highlight,
            .p-select-option.p-focus {
                background-color: colors.$airframe-color-primary-normal;
                color: colors.$airframe-color-neutral-white;
                border-radius: 0;
            }

            .p-select-option:not(.p-highlight):not(.p-disabled) {
                &:hover {
                    background-color: colors.$airframe-color-primary-extra-extra-light;
                }
            }
        }
    }
}
