@use '@airframe/standard/src/scss/foundations/font-family';
@use '@airframe/standard/src/scss/foundations/colors';
@use '@airframe/standard/src/scss/foundations/breakpoints';
@use '@airframe/standard/src/scss/airframe-standard';
@use '@airframe/standard/src/scss/components/basic-elements/textfield/textfield';

@use './app/styles/airframe/airframe-modal';
@use './app/styles/airframe/airframe-tooltip';
@use './app/styles/airframe/airframe-dropdown';
@use './app/styles/airframe/airframe-table';
@use './app/styles/airframe/airframe-calendar';

@use './app/styles/p-multiselect';
@use './app/styles/helptip';
@use './app/styles/paper';

@use './app/styles/dialog';
@use './app/styles/tooltip';
@use './app/styles/p-checkbox';
@use './app/styles/p-inputtext';
@use './app/styles/p-treeselect';
@use './app/styles/card';
@use './app/styles/p-dropdown';
@use './app/styles/p-inputNumber';
@use './app/styles/main-nav';
@use './app/styles/p-inputswitch';
@use './app/styles/ev-badge';
@use './app/styles/divider-panel-container';
@use './app/styles/page-content';
@use './app/styles/page-section';

@import '@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'primeicons/primeicons.css';
@import '../node_modules/@flightstats/cirium-design-tokens/dist/airframe/tokens/dark.css';
@import '../node_modules/@flightstats/cirium-design-tokens/dist/airframe/tokens/light.css';

body {
  font-family: font-family.$font-family-montserrat;
  background-color: colors.$airframe-color-neutral-grey-10;
  color: colors.$airframe-color-neutral-grey-80;

  hr {
    padding-top: 24px;
    border: 0 solid colors.$airframe-color-neutral-black;
    box-shadow: 0 2px 0 colors.$airframe-color-neutral-black-opacity-10;

    &.title-break {
      box-shadow: 0 4px 0 colors.$airframe-color-neutral-black-opacity-10;
    }
  }
}

:root {
  --airframe-color-chart-primary-1:#{colors.$airframe-color-chart-primary-1};
  --airframe-color-chart-primary-2:#{colors.$airframe-color-chart-primary-2};
  --airframe-color-chart-primary-3:#{colors.$airframe-color-chart-primary-3};
  --airframe-color-chart-primary-4:#{colors.$airframe-color-chart-primary-4};
  --airframe-color-chart-primary-5:#{colors.$airframe-color-chart-primary-5};
  --airframe-color-chart-primary-6:#{colors.$airframe-color-chart-primary-6};
  --airframe-color-chart-primary-border:#{colors.$airframe-color-chart-primary-border};
  --airframe-color-chart-primary-1-opacity-50:#{colors.$airframe-color-chart-primary-1-opacity-50};
  --airframe-color-chart-primary-2-opacity-50:#{colors.$airframe-color-chart-primary-2-opacity-50};
  --airframe-color-chart-primary-3-opacity-50:#{colors.$airframe-color-chart-primary-3-opacity-50};
  --airframe-color-chart-primary-4-opacity-50:#{colors.$airframe-color-chart-primary-4-opacity-50};
  --airframe-color-chart-primary-5-opacity-50:#{colors.$airframe-color-chart-primary-5-opacity-50};
  --airframe-color-chart-primary-6-opacity-50:#{colors.$airframe-color-chart-primary-6-opacity-50};

  --airframe-color-chart-tertiary-1:#{colors.$airframe-color-chart-tertiary-1};
  --airframe-color-chart-tertiary-2:#{colors.$airframe-color-chart-tertiary-2};
  --airframe-color-chart-tertiary-3:#{colors.$airframe-color-chart-tertiary-3};
  --airframe-color-chart-tertiary-4:#{colors.$airframe-color-chart-tertiary-4};
  --airframe-color-chart-tertiary-5:#{colors.$airframe-color-chart-tertiary-5};
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
