@use '@airframe/standard/src/scss/foundations/colors';

th {
  height: 53px;
  font-size: 12px;
}

td {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 12px;
}

.table-buttons-row {
  display: flex;
  padding-top: 10px;
  padding-right: 25px;
}

.sort-icon {
  display: none;
}

.row-overflow > td > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-overflow:hover > td {
  hyphens: auto;
  overflow: visible;
  white-space: pre-wrap;
}

.asset-watch-details-table ::ng-deep .airframe-table .p-datatable .p-sortable-column.p-highlight {
  background-color: colors.$airframe-color-primary-extra-extra-light !important;
}

.asset-watch-details-table ::ng-deep .p-datatable-scrollable-both .p-datatable-tbody > tr > td,
::ng-deep .p-datatable-scrollable-both .p-datatable-thead > tr > th {
  flex: 1 1 0 !important;
}

.assetGridTableHeading {
  float: left;
  width: 90%;
}
.assetGridTableButtons {
  float: right;
}

.msn {
  color: #00856c;
  text-decoration: underline;
  cursor: pointer;
}
.asset-watch-modal-class{
  z-index: 999;
}

::ng-deep .flight-details-popup.p-dialog {
  div.p-dialog-header {
    justify-content: start;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;

    .p-dialog-title {
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .p-dialog-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-top: 5px;
  }

  .p-dialog-footer {
    padding: 0;
    padding-top: 32px;
  }
}
